<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
                <li><a routerLinkActive="active" routerLink="/products">Products</a></li>
                <li><a routerLinkActive="active" routerLink="/contact">Contact</a></li>
                <li><a routerLinkActive="active" routerLink="/admin-panel">Admin Panel</a></li>
                <li><a routerLink="active" routerLink="/author">Author</a></li>
                
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
