<div class="modal" [ngClass]="isDisabledModal?'':'dj-t-block'" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Notification</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="CloseModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You have successfull checkout your cart</p>
        </div>
      </div>
    </div>
  </div>


