<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a routerLinkActive="active" routerLink="/admin-panel/products" ><i class="fa fa-fw fa-search"></i> Products <i class="fa fa-fw fa-angle-down pull-right"></i></a>
            
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/admin-panel/brands"><i class="fa fa-fw fa-star"></i>  Brands <i class="fa fa-fw fa-angle-down pull-right"></i></a>
        
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/admin-panel/categories"><i class="fa fa-fw fa-user-plus"></i>  Categories</a>
        </li>
        
    </ul>
   
    <div class="mat-elevation-z8 dj-t-mat-elevation">
        <button class="btn-primary">Insert</button>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>
                    <button class="btn-warning">Update</button>
                </td>
                <td>
                    <button class="btn-danger">Delete</button>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>
                    <button class="btn-warning">Update</button>
                </td>
                <td>
                    <button class="btn-danger">Delete</button>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
                <td>
                    <button class="btn-warning">Update</button>
                </td>
                <td>
                    <button class="btn-danger">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
      
        
      </div>
      
</div>
<!-- /.navbar-collapse -->

