<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a routerLinkActive="active" routerLink="/admin-panel/products" ><i class="fa fa-fw fa-search"></i> Products <i class="fa fa-fw fa-angle-down pull-right"></i></a>
            
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/admin-panel/brands"><i class="fa fa-fw fa-star"></i>  Brands <i class="fa fa-fw fa-angle-down pull-right"></i></a>
        
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/admin-panel/categories"><i class="fa fa-fw fa-user-plus"></i>  Categories</a>
        </li>
        
    </ul>
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row" id="main" >
                <div class="col-sm-12 col-md-12 well" id="content">
                    <h1>Welcome Admin!</h1>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        </div>
</div>
<!-- /.navbar-collapse -->

